main span { 
      color: red;
      background-color: yellow;
      font-weight: bold;

     }

nav ul li span {
      color: blue;
}

#degreeProcgramCD {

      border-top-left-radius:50px ;
      border-top-right-radius:50px;

}

#degreeProgramCS {

      border-top-right-radius:50px;
      border-top-left-radius:50px;
}


img {
      width:75%;
      height:auto;
}

.minor-image {
      border:10px solid green;
      padding: 10px;
}