h1 {

      font-size: 9vw;
      text-align:  center;

      height: 100px;
      margin: 0 auto; /* center a block element */

      width: 70%;
      color: #dd07f5;
      background-color: darkred;
      border: 7px solid black;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      margin-left: 30px ;
      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 20px

    }

    body {
      background-image: url("img/background.jpg");
      background-repeat: no-repeat ;
      background-size: cover;
    }

    ol {
      color: indianred;
      background-color: white;

    }

    a {
      color: black;
      background-color: white;
    }
  
    main {

      background-color: lightgrey;
    }

    img {
      max-width:100%;  /* valuse to make images responsive */
      height: auto; 
      border: 3px solid black; 
      border-radius: 20px;

    }

